<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.arvind.moodleplus">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name=".Moodleplus"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Splash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="com.arvind.moodleplus.STARTINGPOINT" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".Lis" />
        <activity android:name=".Prfle" />
        <activity android:name=".Crs" />
        <activity android:name=".Grade" />
        <activity
            android:name=".TabActivity"
            android:label="@string/title_activity_tab_view"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".Details" />
        <activity android:name=".Data" />
        <activity android:name=".Notifi"></activity>
    </application>

</manifest>
